<li class="task list-group-item" id="task-<%= task.id %>">
  <div class="row">
    <div class="col-xs-1">
      <span class="star-span task-star">
        <% if task.star.nil? %>
          <%= render partial: 'stars/star', locals: {starable: task} %>
        <% else %>
          <%= render partial: 'stars/unstar', locals: {star: task.star} %>
        <% end %>
      </span>
    </div>
    <div class="col-xs-9">
      <div class="col-xs-4">
        <span class="badge"><span class="priority" data-id="<%= task.id %>"><%= task.priority %></span></span>
      </div>
      <div class="col-xs-8">
        <span class="description" data-id="<%= task.id %>"><%= task.description %></span>
      </div>
    </div>
    <div class="col-xs-1">
      <%= button_to "X", task_path(task), method: :delete, class: "btn btn-primary btn-xs", form_class: "delete-task" %>
    </div>
  </div>
</li>
