<table class="table table-striped table-hover">
  <legend>Users</legend>
  <thead>
    <th>Username</th>
    <th>Lists Created</th>
    <th>Tasks Created</th>
    <th>Items Starred</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username %></td>
        <td><%= user.lists_total %></td>
        <td><%= user.tasks_total %></td>
        <td><%= user.total_starred_items %></td>
        <td><%= link_to 'Log In', login_as_path(id: user.id), class: 'btn btn-primary btn-xs', method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
