<div class="row well">
  <div class="col-xs-12">
    <h3>Welcome, Supreme Leader!</h2>
  </div>
  <div class="col-xs-4">
    <table class="table table-striped table-hover">
      <thead>
        <th>User</th>
        <th>Lists Created</th>
        <th>Tasks Created</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(user) %></td>
            <td><%= user.lists_total %></td>
            <td><%= user.tasks_total %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <table class="table table-striped table-hover">
      <thead>
        <th>Total Lists</th>
        <th>Total Tasks</th>
        <th>Total Items Starred</th>
      </thead>
      <tbody>
        <tr>
          <td><%= User.total_lists_made %></td>
          <td><%= User.total_tasks_made %></td>
          <td><%= User.total_items_starred %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
