<%= javascript_include_tag 'main.js' %>

<div class="row bottom-margin well controls">
  <div class="col-lg-4" id="add-list-div">
    <%= render 'lists/add_list' %>
  </div>
  <div class="col-lg-4" id="add-task">
    <%= render 'tasks/add_task' %>
  </div>
  <div class="col-lg-4" id="avatar">
    <div class="row">
      <div class="col-xs-6 upload">
        <%= render 'upload_avatar' %>
      </div>
      <div class="col-xs-6">
        <%= render 'display_avatar' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="lists-div">
    <% @user.lists.each do |list| %>
      <%= render partial: 'lists/list', locals: {list: list, task: Task.new} %>
    <% end %>
  </div>
</div>
