<div class="row bottom-margin">
  <div class="col-lg-4" id="add-list">
    <%= form_for @list, html: {class: "form-horizontal", id: "add-list"}, remote: true do |f| %>
      <%= f.submit 'Add List', class: "btn btn-primary" %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="col-lg-8" id="add-task">
    <%= form_for Task.new, html: {class: "form-horizontal add-task"}, remote: true do |f| %>
      <p><%= f.submit "Add Task", class: "btn btn-primary" %></p>
      <p><%= f.select :list_id, @user.lists.map {|list| [list.name, list.id]} %></p>
      <%= f.text_field :description, placeholder: "description" %>
      <%= f.text_field :priority, placeholder: "priotiy" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="lists-div">
    <% @user.lists.each do |list| %>
      <%= render partial: 'lists/list', locals: {list: list, task: Task.new} %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function(){

    checkForLists();
    var deleteBtns = $(".delete-list");
    var newTaskBtn = $(".add-task");
    var taskBtns = $(".delete-task");
    addDeleteTaskListener.call(taskBtns);
    addDeleteListener.call(deleteBtns);
    addNewTaskListener.call(newTaskBtn);

    $("#add-list").on("ajax:success", function(e, data){
      $(".lists-div").append(data.list_partial);
      checkForLists();
      var deleteBtns = $(".delete-list");
      addDeleteListener.call(deleteBtns);
      $("#task_list_id").append(data.options_partial);
    })

    function addDeleteListener(){
      this.on("ajax:success", function(e, data){
        $("#list-"+data.list_id).remove();
        $("option[value='"+data.list_id+"']").remove()
        checkForLists();
      })
    }

    function addNewTaskListener(){
      this.on("ajax:success", function(e, data){
        $("#list-"+data.task.list_id+" .tasks").append(data.task_partial)
        var taskDeletes = $(".delete-task");
        addDeleteTaskListener.call(taskDeletes);
      })
    }

    function addDeleteTaskListener(){
      this.on("ajax:success", function(e, data){
        $(".task-"+data.task_id).remove()
      })
    }

    function checkForLists(){
      var lists = $(".list");
      if (lists.length == 0){
        $("#add-task").hide();
      } else {
        $("#add-task").show()
      }
    }

  })
</script>
