<!DOCTYPE html>
<html>
<head>
  <title>TaskLister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div class="container top-margin">
    <div class="row" id="flash">
      <%= render 'shared/flash' %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
